@if(favoriteType().length > 0){
<div class="user-wrapper">
    <mat-card class="user-card">
        <mat-card-header>
            <h2>User Profile</h2>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>First name</mat-label>
                    <input matInput type="text" [(ngModel)]="activateUser!.firstName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" [(ngModel)]="activateUser!.lastName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Address</mat-label>
                    <input matInput type="text" [(ngModel)]="activateUser!.address">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" [(ngModel)]="activateUser!.phone">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Favorite toy type</mat-label>
                    <mat-select [(ngModel)]="selectedType" (ngModelChange)="refreshRecommended($event)">
                        <mat-option value="" disabled>Select a type</mat-option>
                        @for (favorite of favoriteType(); track favorite) {
                        <mat-option [value]="favorite">{{favorite}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-card-actions>
                    <button type="button" matButton (click)="updateUser()">
                        <mat-icon fontIcon="archive" /> Update
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>

    <div>
        <mat-card class="user-card user-details">
            <mat-card-header>
                <h1>User profile</h1>
            </mat-card-header>
            <mat-card-content>
                <div class="user-info">
                    <img [src]="getAvatarUrl()" alt="User pfp" class="user-img">
                    <h3>{{activateUser!.email}}</h3>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="user-card">
            <mat-card-header>
                <h2>Password reset</h2>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field class="full-width">
                        <mat-label>Old password</mat-label>
                        <input matInput type="password" [(ngModel)]="oldPassword">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>New password</mat-label>
                        <input matInput type="password" [(ngModel)]="newPassword">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Repeat password</mat-label>
                        <input matInput type="password" [(ngModel)]="passRepeat">
                    </mat-form-field>
                    <mat-card-actions>
                        <button type="button" matButton (click)="updatePassword()">
                            <mat-icon fontIcon="key" /> Update password
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card class="user-card">
        <mat-card-header>
            <h2>Recommended toys</h2>
        </mat-card-header>
        <mat-card-content>
            <ul>
                @for (toy of recommended(); track toy.toyId) {
                <li>{{toy.name}} - {{toy.type.name}}</li>
                <a [routerLink]="`/details/${toy.toyId}`" matButton>Details</a>
                }
            </ul>
        </mat-card-content>
    </mat-card>
</div>
} @else {
<app-loading />
}